<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
    <h3>VASHNAVI'S LIBRARY </h3>
    <ol >
       <% for(let i of book_list){%>
        <div class="holder-div">
        <li class="book">
            <div>
            <p><%= i.name %></p>
            <small><%='âœ'+ i.author %></small>
        
       
            <a href="/delete-book/?name=<%= i.name %>">
                <i class="fa fa-trash"></i>
            </a> 
        </div>
        </li>
        </div>
        <%}%>
    </ol>
   <div>
    <form action="/addBook" method="post">
        <h5>CAN YOU ADD SOME GOOD ðŸ“š IN MY LIBRARY ðŸ‘‡</h5>
        <label id="title-name">Title name :</label><br>
        <input id="title-name" type="text" name="name" placeholder="enter book title here !" required><br><br>
        <label id="author-name">Author name :</label><br>
        <input id="author-name" type="text" name="author" placeholder="enter author name here !" required><br><br>
        <button type="submit" >ADD BOOK</button>
     </form>
</div>
</body>
<script src="home.js"></script>
</html>